# Impor Library

In [1]:
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,}'.format

# Load Data

In [3]:
df = pd.read_excel('Chapter4_Figure4pt4_DataOnly.xlsx')

In [4]:
df.shape

(189470, 5)

In [5]:
df.head(2)

   ID  VendorNum       Date   InvNum  Amount
0   1       2001 2010-01-01  4242J10   25.19
1   2       2001 2010-01-01  7899J10   25.86

## Konversi Kolom

In [6]:
df['ID'] = df['ID'].astype('int64')
df['VendorNum'] = df['VendorNum'].astype('int64')
df['Date'] = pd.to_datetime(df['Date'], format="%m-%d-%Y")
df['InvNum'] = df['InvNum'].astype('str')
df['Amount'] = df['Amount'].astype('float64')

In [7]:
df.head(2)

   ID  VendorNum       Date   InvNum  Amount
0   1       2001 2010-01-01  4242J10   25.19
1   2       2001 2010-01-01  7899J10   25.86

# Data Profile (Figure 4.1, p.65)

## Details

In [8]:
over10 = df[df['Amount'] >= 10]
over001 = df[(df['Amount'] >= 0.01) & (df['Amount'] <= 9.99)]
equal0 = df[df['Amount'] == 0]
lower001 = df[(df['Amount'] <= -0.01) & (df['Amount'] >= -9.99)]
under10 = df[df['Amount'] <= -10]

detail_list = []

In [9]:
data = [over10['Amount'].count(), over10['Amount'].count()/df['Amount'].count()*100, over10['Amount'].sum(), over10['Amount'].sum()/df['Amount'].sum()*100]
detail_list.append(data)
data

[177763, 93.82118541193857, 492913582.26, 100.53764586147238]

In [10]:
data = [over001['Amount'].count(), over001['Amount'].count()/df['Amount'].count()*100, over001['Amount'].sum(), over001['Amount'].sum()/df['Amount'].sum()*100]
detail_list.append(data)
data

[7320, 3.8634084551644063, 40159.47, 0.008191169239712125]

In [11]:
data = [equal0['Amount'].count(), equal0['Amount'].count()/df['Amount'].count()*100, equal0['Amount'].sum(), equal0['Amount'].sum()/df['Amount'].sum()*100]
detail_list.append(data)
data

[123, 0.06491792895972977, 0.0, 0.0]

In [12]:
data = [lower001['Amount'].count(), lower001['Amount'].count()/df['Amount'].count()*100, lower001['Amount'].sum(), lower001['Amount'].sum()/df['Amount'].sum()*100]
detail_list.append(data)
data

[195, 0.10291866786298623, -1121.31, -0.00022870919312883365]

In [13]:
data = [under10['Amount'].count(), under10['Amount'].count()/df['Amount'].count()*100, under10['Amount'].sum(), under10['Amount'].sum()/df['Amount'].sum()*100]
detail_list.append(data)
data

[4069, 2.147569536074313, -2674995.5200000005, -0.5456083215189778]

In [14]:
detail_df = pd.DataFrame(detail_list, columns=['Count', '% of Total Count', '$', '% of Total Sum'])
detail_df['Name'] = ['Amounts 10.00 and over', 'Amounts 0.01 to 9.99', 'Amounts equal to zero', 'Amounts -0.01 to -9.99', 'Amounts -10.00 and under']
#detail_df[['Name', 'Count', '% of Total Count', '$', '% of Total Sum']].round(2)

### Menambahkan Baris Jumlah dan Menampilkan sebagai Tabel

In [15]:
detail_df = detail_df.append(detail_df.sum(numeric_only=True), ignore_index=True)[['Name', 'Count', '% of Total Count', '$', '% of Total Sum']].round(2)
detail_df

,Name,Count,% of Total Count,$,% of Total Sum
0,Amounts 10.00 and over,"177,763.0",93.82,"492,913,582.26",100.54
1,Amounts 0.01 to 9.99,"7,320.0",3.86,"40,159.47",0.01
2,Amounts equal to zero,123.0,0.06,0.0,0.0
3,Amounts -0.01 to -9.99,195.0,0.1,"-1,121.31",-0.0
4,Amounts -10.00 and under,"4,069.0",2.15,"-2,674,995.52",-0.55
5,NaN,"189,470.0",100.0,"490,277,624.9",100.0

# Low-value Amounts

In [16]:
lowvalue = df[(df['Amount'] >= 0.01) & (df['Amount'] <= 50)]
lowvalue_list = []

In [17]:
lowvalue_list = [[float(lowvalue['Amount'].count()), lowvalue['Amount'].count()/df['Amount'].count()*100, lowvalue['Amount'].sum(), lowvalue['Amount'].sum()/df['Amount'].sum()*100]]
lowvalue_list

[[43253.0, 22.82841610809099, 1188603.1, 0.2424347022245681]]

In [18]:
lowvalue_df = pd.DataFrame(lowvalue_list, columns=['Count', '% of Total Count', '$', '% of Total Sum'])
lowvalue_df['Name'] = ['Amounts 0.01 to 50.00']
lowvalue_df[['Name', 'Count', '% of Total Count', '$', '% of Total Sum']].round(2)

,Name,Count,% of Total Count,$,% of Total Sum
0,Amounts 0.01 to 50.00,"43,253.0",22.83,"1,188,603.1",0.24

# High-value Amounts

In [19]:
highvalue = df[df['Amount'] >= 100000]
highvalue_list = []

In [20]:
highvalue_list = [[highvalue['Amount'].count(), highvalue['Amount'].count()/df['Amount'].count()*100, highvalue['Amount'].sum(), highvalue['Amount'].sum()/df['Amount'].sum()*100]]
highvalue_list

[[370, 0.1952815749195123, 242946614.32, 49.55286596437127]]

In [21]:
highvalue_df = pd.DataFrame(highvalue_list, columns=['Count', '% of Total Count', '$', '% of Total Sum'])
highvalue_df['Name'] = ['Amounts 100,000 and higher']
highvalue_df[['Name', 'Count', '% of Total Count', '$', '% of Total Sum']].round(2)

,Name,Count,% of Total Count,$,% of Total Sum
0,"Amounts 100,000 and higher",370,0.2,"242,946,614.32",49.55

## Data Profile

In [22]:
dataprofile_df = pd.concat([detail_df, lowvalue_df])
dataprofile_df = pd.concat([dataprofile_df, highvalue_df])
dataprofile_df[['Name', 'Count', '% of Total Count', '$', '% of Total Sum']].round(2)

,Name,Count,% of Total Count,$,% of Total Sum
0,Amounts 10.00 and over,"177,763.0",93.82,"492,913,582.26",100.54
1,Amounts 0.01 to 9.99,"7,320.0",3.86,"40,159.47",0.01
2,Amounts equal to zero,123.0,0.06,0.0,0.0
3,Amounts -0.01 to -9.99,195.0,0.1,"-1,121.31",-0.0
4,Amounts -10.00 and under,"4,069.0",2.15,"-2,674,995.52",-0.55
5,NaN,"189,470.0",100.0,"490,277,624.9",100.0
0,Amounts 0.01 to 50.00,"43,253.0",22.83,"1,188,603.1",0.24
0,"Amounts 100,000 and higher",370.0,0.2,"242,946,614.32",49.55